<header>
    <nav style="background-color: cyan;">
        <ul style="display: flex;justify-content: space-around;">
            <li>Home</li>
            <li>Contacto</li>
            <li>Sobre nosotros</li>
        </ul>
    </nav>
</header>