<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
</head>
<body>

    <%- include('../partials/header.ejs') %>

    <h1>Bienvenid@ a la vista principal!!</h1>


    <a href="#">Volver al formulario</a>
    
    <%- include('../partials/footer.ejs') %>
</body>
</html>